body {
    border: solid red 2px;
    background: var(--ion-color-light-tint);
    position: fixed;
    z-index: 1000;
}

body section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ion-color-dark-tint);
    color: var(--ion-color-light);
    font-size: var(--font-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

body.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}