main .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    border: red solid 2px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main .card .informativo p {
    font-size: var(--font-medium-x);
    font-weight: bold;
    margin-bottom: 10px;
}

main .card .informativo span {
    color: var(--ion-color-medium-shade);
}

main .card button {
    /* border: dashed 2px red; */
}