<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../resources/styles/fonts.css"/>
    <link rel="stylesheet" href="../../resources/styles/colors.css"/>
    <link rel="stylesheet" href="../../resources/styles/index.component.css"/>
    <link rel="stylesheet" href="../../resources/styles/nav.component.css"/>
    <link rel="stylesheet" href="../../resources/styles/associado.page.css"/>
    <link rel="stylesheet" href="../../resources/styles/dialog.component.css"/>
    <link rel="stylesheet" href="../../resources/styles/form.component.css"/>
    <title>Keter - Administrativo</title>
</head>
<body>

    <nav>

        <div class="logomarca">
            <h1>Associação Keter Torah</h1>
        </div>

        <div class="menus">
            <a href="/">Principal</a>
            <a class="active">Associados</a>
            <a>Financeiro</a>
            <a>Documentação</a>
            <a>Relatórios</a>
            <a>Configuração</a>
        </div>

        <div class="dados">
            <img src="../../resources/images/photos/profile.jpg"/>
            <div class="nome-funcao">
                <p>José Quintinno</p>
                <span>Presidência</span>
            </div>
        </div>

    </nav>

    <main>

        <div class="card">

            <div class="informativo">
                <p>Gerenciador de Associados</p>
                <span>Essa funcionalidade permite cadastrar, atualizar e inativar os asssociados</span>
            </div>
    
            <button id="abrir-modal">Cadastrar Novo Associado</button>

        </div>

    </main>

    <div id="sombreamento" class="sombreamento"></div>

    <dialog id="dialog">

        <form>

            <!-- <img src="../../resources/images/icons/users.svg"/> -->
            <h2>Cadastro de Associados</h2>

            <div class="etapas active">
                <div class="row">
                    <div class="campos width20">
                        <label>Tipo de Pessoa</label>
                        <select>
                            <option value="0">Selecione</option>
                            <option value="1">Pessoa Física</option>
                            <option value="2">Pessoa Jurídica</option>
                        </select>
                    </div>
                    <div class="campos width60">
                        <label>Nome Completo</label>
                        <input type="text"/>
                    </div>
                    <div class="campos width20">
                        <label>Data de Nascimento</label>
                        <input type="date"/>
                    </div>
                </div>
                <div class="row">
                    <div class="campos">
                        <label>País Nascimento</label>
                        <select>
                            <option value="0">Selecione</option>
                            <option value="1">Brasil</option>
                            <option value="2">Argentina</option>
                            <option value="3">Israel</option>
                        </select>
                    </div>
                </div>
                <div class="botoes">
                    <a class="botao-proximo width80">Próximo</a>
                    <a id="botaoCancelar" class="botao-cancelar width20">Cancelar</a>
                </div>
            </div>

            <div class="etapas">
                Etapa 2
                <div class="botoes">
                    <a class="botao-anterior">Anterior</a>
                    <a class="botao-proximo">Próximo</a>
                </div>
            </div>

            <div class="etapas">
                Etapa 3
                <div class="botoes">
                    <a class="botao-anterior">Anterior</a>
                    <a class="botao-proximo">Próximo</a>
                </div>
            </div>

            <div class="etapas">
                Etapa 4
                <div class="botoes">
                    <a class="botao-anterior">Anterior</a>
                    <a id="botaoCadastrar" class="botao-cadastrar">Cadastrar</a>
                </div>
            </div>

        </form>

    </dialog>

    <script src="../../resources/scripts/associado.page.js"></script>
    <script src="../../resources/scripts/dialog.component.js"></script>
    
</body>
</html>