main .card {
    margin-top: 40px;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main .card .card-header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .card .card-header .filtros {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

main .card .card-header .filtros .campo-pesquisar {
    display: flex;
    justify-content: start;
    align-items: center;
}

main .card .card-header .filtros .campo-pesquisar img {
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    margin-left: 10px;
}

main .card .card-content {
    width: 100%;
    margin-top: 40px;
    /* border: dashed red 2px; */
}

main .card .card-content table tbody:hover {
    background: var(--ion-color-light-tint);
}

main .card .card-content table tbody td img {
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

main .card .card-content table {
    width: 100%;
    border-collapse: collapse;
}

main .card .card-content table th {
    height: 40px;
    padding: 10px;
}

main .card .card-content table thead th:nth-child(1),
main .card .card-content table tbody td:nth-child(1),
main .card .card-content table thead th:nth-child(4),
main .card .card-content table tbody td:nth-child(4),
main .card .card-content table thead th:nth-child(5),
main .card .card-content table tbody td:nth-child(5),
main .card .card-content table thead th:nth-child(6),
main .card .card-content table tbody td:nth-child(6) {
    text-align: center;
}

main .card .card-content table td {
    height: 50px;
    border-bottom: 1px solid var(--ion-color-light-tint);
}

main .card .card-content table th, td {
    text-align: left;
}

main .card .card-content table thead {
    background-color: #f4f4f4;
}

main .card .card-header .filtros .campo-pesquisar input {
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
    font-weight: bold;
    font-size: var(--font-small);
    padding-left: 50px;
}

main .card .card-header .filtros .campo-pesquisar input:focus {
    outline: none;
}

main .card .card-header .informativo p {
    font-size: var(--font-medium-x);
    font-weight: bold;
    margin-bottom: 10px;
}

main .card .card-header .informativo span {
    color: var(--ion-color-medium-shade);
}