<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../resources/styles/fonts.css"/>
    <link rel="stylesheet" href="../../resources/styles/colors.css"/>
    <link rel="stylesheet" href="../../resources/styles/index.component.css"/>
    <link rel="stylesheet" href="../../resources/styles/nav.component.css"/>
    <link rel="stylesheet" href="../../resources/styles/associado.page.css"/>
    <link rel="stylesheet" href="../../resources/styles/dialog.component.css"/>
    <title>Keter - Administrativo</title>
</head>
<body>

    <nav>

        <div class="logomarca">
            <h1>Associação Keter Torah</h1>
        </div>

        <div class="menus">
            <a href="/">Principal</a>
            <a class="active">Associados</a>
            <a>Financeiro</a>
            <a>Documentação</a>
            <a>Relatórios</a>
            <a>Configuração</a>
        </div>

        <div class="dados">
            <img src="../../resources/images/photos/profile.jpg"/>
            <div class="nome-funcao">
                <p>José Quintinno</p>
                <span>Presidência</span>
            </div>
        </div>

    </nav>

    <main>

        <div class="card">

            <div class="informativo">
                <p>Gerenciador de Associados</p>
                <span>Essa funcionalidade permite cadastrar, atualizar e inativar os asssociados</span>
            </div>
    
            <button id="abrir-modal">Cadastrar Novo Associado</button>

        </div>

    </main>

    <div id="sombreamento" class="sombreamento"></div>

    <dialog id="dialog">

        <div class="dialog-header">
            Cadastrar Novo Associado
        </div>
        <div class="dialog-content">

            <div class="etapas">

                <div class="etapa">
                    Dados Básicos
                </div>

                <div class="etapa">
                    Contato
                </div>

                <div class="etapa">
                    Endereço
                </div>

                <div class="etapa">
                    Dependentes
                </div>

                <div class="etapa">
                    Documentos
                </div>

                <div class="etapa">
                    Arquivos
                </div>

            </div>

        </div>
        <div class="dialog-footer">
            <button id="botao-anterior">Anterior</button>
            <button id="botao-proximo">Próximo</button>
        </div>

    </dialog>

    <script src="../../resources/scripts/associado.page.js"></script>
    
</body>
</html>