* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SpaceMono";
    font-size: var(--font-medium);
    /* transition: all 600ms ease-in-out; */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--ion-color-dark);
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 4px var(--ion-color-light-shade);
}

button {
    padding: 10px;
    border: none;
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
    font-size: var(--font-small);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

button:hover {
    background: var(--ion-color-primary-tint);
}