nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--ion-color-light);
    z-index: 1000;
}

nav .logomarca h1 {
    font-family: "Audiowide";
    font-size: var(--font-large);
}

nav .menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .menus .active {
    font-weight: bold;
}

nav .dados {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

nav .dados .nome-funcao {
    text-align: center;
}

nav .dados .nome-funcao p {
    font-weight: bold;
}

nav .dados .nome-funcao span {
    color: var(--ion-color-medium);
    font-size: var(--font-small);
}

nav .dados .menu-preferencia-usuario {
    width: 240px;
    position: absolute;
    top: 120px;
    background: white;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 20px; */
    padding: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

nav .dados .menu-preferencia-usuario.active {
    display: flex;
}

nav .dados .menu-preferencia-usuario a {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

nav .dados .menu-preferencia-usuario a:hover {
    font-weight: bold;
    background: var(--ion-color-light-tint);
    width: 100%;
}

nav .dados .menu-preferencia-usuario::before {
    content: "";
    position: absolute;
    border: 10px solid;
    top: -20px;
    left: 200px;
    border-color: transparent transparent white transparent;
}